<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codezero.website.dao.MessageBoardMapper">

    <resultMap type="com.codezero.website.pojo.messageboard.MessageBoard" id="MessageBoard">
        <id column="seq" jdbcType="INTEGER" property="seq" />
        <result column="msgType" jdbcType="VARCHAR" property="msgType" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="date" jdbcType="VARCHAR" property="date" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="relatedSeq" jdbcType="INTEGER" property="relatedSeq" />
    </resultMap>

    <insert id="insertMessage" parameterType="com.codezero.website.pojo.messageboard.MessageBoard">
        insert into message_board
        (msgType,ip,city,date,content,status,relatedSeq)
        values
        (#{msgType},#{ip},#{city},#{date},#{content},#{status},#{relatedSeq})
    </insert>

    <select id="selectMainMessage" resultMap="MessageBoard">
        select * from message_board t where t.msgType = '0' and t.status != '3' order by t.date DESC
    </select>

    <select id="selectSubMessage" parameterType="com.codezero.website.pojo.messageboard.MessageBoard" resultMap="MessageBoard">
        select * from message_board t where t.msgType = '1' and t.status != '3' and t.relatedSeq = #{relatedSeq}
    </select>

    <update id="updateMessageStatus" parameterType="com.codezero.website.pojo.messageboard.MessageBoard">
        update message_board t set t.status = #{status} where t.seq = #{seq}
    </update>

    <select id="selectUnreadMessage" resultMap="MessageBoard">
        select * from message_board t where t.status != '3' and status != '2' order by t.date DESC
    </select>

    <select id="selectUnreadMessageCount" resultType="java.lang.Integer">
        select count(1) from message_board t where t.status = '0'
    </select>

    <select id="selectAllMessage" resultMap="MessageBoard">
        select * from message_board t where 1=1
        <if test="allMessageBoard.text != null and allMessageBoard.text != ''">
            and t.content like concat('%',#{allMessageBoard.text,jdbcType=VARCHAR},'%')
        </if>
        <if test="allMessageBoard.status != null and allMessageBoard.status != ''">
            and t.status = #{allMessageBoard.status,jdbcType=VARCHAR}
        </if>
        order by t.date DESC
    </select>

    <update id="updateMessageContent" parameterType="com.codezero.website.pojo.messageboard.MessageBoard">
        update message_board t set t.content = #{content} where t.seq = #{seq}
    </update>

    <update id="deleteMessageBoardList">
        update message_board t set t.status = '3' where t.seq in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </update>

</mapper>